/* CSS STYLESHEET */

body 
{
    overflow-x: hidden;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.book 
{
    display: flex;
    position: relative;
    width: 75vw;   /* 依照視窗寬度自動縮放 */
    max-width: 900px;
    height: 500px;
    background-color: #fff;
    border: 2px solid #333;
}

/* 左右頁 */
.page 
{
    padding: 20px;
    box-sizing: border-box;
    font-size:20px;

    height: 100%;        /* 撐滿 book 高度 */
    overflow-y: auto;    /* 內容多就自己滾 */
}

/* 捲軸 */
.page::-webkit-scrollbar {
    width: 6px;
}

.page::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
}

/* 左頁 */
.left 
{
    width: 38%;
    background-color: #e2f8ff;
}

/* 右頁 */
.right 
{
    width: 60%;
    background-color: #eeeeff;
}

/* 書脊 */
.spine 
{
    width: 2%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 書籤 */
.tabs 
{
    position: absolute;
    left: 100%; /*貼在書右邊*/
    top: 10%;
    display: flex; /*這個沒有好像也不會怎樣？？*/
    flex-direction: column;
    align-items: flex-start;

    cursor: pointer;
} 

.tab
{
    white-space: nowrap; /*不換行*/
    background-color: #ffb6c1;
    text-decoration: none;
    padding: 10px 16px;
    margin-bottom: 5px;
    border-radius: 0 10px 10px 0; /*角角圓圓的*/
}

.sub-tabs 
{
  display: none;
  margin-left: 1px;
  margin-bottom: 10px;
}

.sub-tabs a 
{
  display: block;
  background-color: #ffd6de;
  padding: 8px 14px;
  margin-top: 6px;
  border-radius: 0 8px 8px 0;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.tab-group.open .sub-tabs 
{
  display: block;
}



