/* CSS STYLESHEET */

body 
{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.book 
{
    display: flex;
    position: relative;
    width: 820px;
    height: 500px;
    background-color: #fff;
    border: 2px solid #333;
}

/* 左右頁 */
.page 
{
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    font-size:20px;
}

/* 左頁 */
.left 
{
    background-color: #e2f8ff;
}

/* 右頁 */
.right 
{
    background-color: #eeeeff;
}

/* 書脊 */
.spine 
{
    width: 4%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 書籤 */
.tabs 
{
    position: absolute;
    left: 100%; /*貼在書右邊*/
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    cursor: pointer;
} 

.tab
{
    white-space: nowrap; /*不換行*/
    background-color: #ffb6c1;
    color: black;
    text-decoration: none;
    padding: 10px 16px;
    margin-bottom: 10px;
    border-radius: 0 10px 10px 0;
}

.sub-tabs 
{
  display: none;
  margin-left: 1px;
  margin-bottom: 10px;
}

.sub-tabs a 
{
  display: block;
  background-color: #ffd6de;
  padding: 8px 14px;
  margin-top: 6px;
  border-radius: 0 8px 8px 0;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.tab-group.open .sub-tabs 
{
  display: block;
}



